{% extends "base_nav.html" %} {% block content%}
<div class="container py-5">
  <div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Ask and Answer Questions</h1>
    <p class="lead">Welcome to our FAQs: where the questions are plenty and the answers are scarce.</p>


    <a href="{% url 'main_app:question_view' %}" class="btn btn-primary btn-lg my-3">Question List</a>
    <a href="{% url 'main_app:question_ask_view' %}" class="btn btn-primary btn-lg">Ask a Question</a>
  </div>
</div>
</div>
<div>{{ User.first_name }}</div>
{% endblock %}
