{% extends "base_nav.html" %}{% load crispy_forms_tags %} {% block title %}
Detail {% endblock %} {% block content %}

<div class="container my-5">
      <!-- Question Upvote  -->
      
        <form
          method="POST"
          action="{% url 'main_app:question_upvote' single_question.id %}"
        >
          {% csrf_token %}
          <input type="hidden" name="pk" value="{{single_question.id}}" />
          <button type="submit" class="btn btn-outline-secondary">
            Upvote This Question: {{ single_question.upvote_num }}
          </button>
        </form>
         
       <!-- End Question Upvote  --> 
  <div class="card">

    <div class="card-body text-center">
      <h1 class="card-title">Title: {{ single_question.title }}</h1>
      <hr />
      <p>Content: {{ single_question.content }}</p>

      <hr />
      <span
        >Asked by
        <a href="{% url 'profile_view' single_question.user.username %}"
          >{{single_question.user}}</a
        ></span
      >
      <p>On {{single_question.created_date}}</p>

      <div class="button-group">
        <a href="{% url 'main_app:answer_create_view' single_question.id %}"
          ><button class="btn btn-outline-primary m-2">Answer</button></a
        >
        {% if single_question.user == user %}
        <a href="{% url 'main_app:question_update_view' single_question.id %}"
          ><button class="btn btn-outline-warning m-2">Update</button></a
        >
        <a href="{% url 'main_app:question_delete_view' single_question.id %}"
          ><button class="btn btn-outline-danger m-2">Delete</button></a
        >
        {% endif %}
        <a href="{% url 'main_app:question_view' %}"
          ><button class="btn btn-outline-dark m-2">Back</button></a
        >
      </div>
      <hr />

      <div>
        {% if not sorted_answers%}
        
        <h5>No answer...</h5>
        {% else %}
        <div class="sort-by">

      <form method="GET">
        <label for="sort">Sort by:</label>
        <select class="" id="sort" name="sort">
          <option value="created_date" {% if request.GET.sort == 'created' %}selected{% endif %}>Date</option>
          <option value="upvote" {% if request.GET.sort == 'upvote' %}selected{% endif %}>Upvotes</option>
        </select>
        <button class="btn-outline-secondary btn btn-sm" type="submit">Sort</button>
      </form>
<div class="card mb-3">
  {% for ans in sorted_answers %}
      <div class="card-body">
        <p class="card-text">{{ ans.content }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">Posted by: {{ ans.user.username }}</small>
          <div class="d-flex align-items-center">
            <span class="mx-2">{{ ans.upvote_num }} upvotes</span>
          </div>
        </div>
      </div>
  {% endfor %}{% endif %}
</div>

      <hr />
    </div>
  </div>
</div>
{% endblock content %}



        <!-- <form
          method="post"
          action="{% url 'main_app:upvote' ans.id %}"
        >
          {% csrf_token %}
          <input type="hidden" name="pk" value="{{single_question.id}}" />
          <button type="submit" class="btn btn-outline-secondary">
            {{ ans.answer_vote.count }}
          </button>
        </form> -->